*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: none;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}
